### **Project 2: Classification Models**

One of the largest public sector banks which has several branches across cities provides various services like savings accounts, current accounts, term deposits, personal loans, home loans etc. to customers. Whenever the bank conducts marketing on its new schemes, it will keep track of data related to customers’ personal, social and economic details. Also, it maintains the detailing on efforts made to achieve success in the campaign. Recently, the bank has conducted a campaign to market their term-deposit scheme. Campaigns were conducted based mostly on direct phone calls, soliciting the bank's customers to place a term deposit. After all the marketing efforts, if the client had agreed to place a deposit, then the campaign is a success, otherwise not (Target variable marked 'yes', or 'no'). It is a challenge for bank officials to target the right people for a successful campaign. 

Tasks:
1. Data loading, data cleaning and report analysis. (Weightage 30 Marks)
2. Building ML-  Classification Model. (Weightage 70 Marks)

Data Dictionary:

Age:	(numeric)
Job:	Type of job (categorical: 'admin.', 'blue-collar', 'entrepreneur', 'housemaid', 'management', 'retired', 'self-employed',
 	'services', 'student', 'technician', 'unemployed', 'unknown')
Marital :	Marital status (categorical: 'divorced', 'married', 'single', 'unknown';Note: 'divorced' means divorced or widowed)
Education:	(categorical: 'basic.4y', 'basic.6y', 'basic.9y', 'high.school', 'illiterate', 	'professional.course', 'university.degree', 'unknown')
Default:	Has credit in default? (categorical: 'no', 'yes', 'unknown')
Housing:	Has housing loan? (categorical: 'no', 'yes', 'unknown')
Loan:	Has personal loan? (categorical: 'no', 'yes', 'unknown')
Contact:	Contact communication type (categorical: 'cellular', 'telephone')
Month:	Last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
Day_of_week:	last contact day of the week (categorical: 'mon', 'tue', 'wed', 'thu', 'fri')
Duration:	Last contact duration, in seconds (numeric).
 	Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
Campaign:	Number of contacts performed during this campaign and for this client (numeric, includes last contact)
Pdays:	Number of days that passed by after the client was last contacted from a previous campaign: (numeric; 999 means client was not previously contacted)
Previous:	number of contacts performed before this campaign and for this client (numeric)
Poutcome:	outcome of the previous marketing campaign (categorical:
 	'failure', 'nonexistent', 'success')
Output variable (desired target):
Y:	has the client subscribed a term deposit? (binary: 'yes', 'no')

**Initial Guidelines:**

1. Ensure to follow to Use Id’s provided by UNext for naming file as conventions.
2. Create GitHub account and submit the GitHub link.

### Software Engineering aspect:  

Utilize software engineering aspects while building Machine learning model using modular programming principles to organize your code into reusable functions or classes to enhance readability, maintainability, and collaboration.

### General Instructions

- The cells in the Jupyter notebook can be executed any number of times for testing the solution
- Refrain from modifying the boilerplate code as it may lead to unexpected behavior
- The solution is to be written between the comments `# code starts here` and `# code ends here`
- On completing all the questions, the assessment is to be submitted on moodle for evaluation
- Before submitting the assessment, there should be `no error` while executing the notebook. If there are any error causing code, please comment it.
- The kernel of the Jupyter notebook is to be set as `Python 3 (ipykernel)` if not set already
- Include imports as necessary
- For each of the task, `Note` section will provide you hints to solve the problem.
- Do not use `PRINT` statement inside the `Except` Block. Please use `return` statement only within the except block

#### **Utilize software engineering aspects while building Machine learning model using modular programming principles to organize your code into reusable functions or classes to enhance readability, maintainability, and collaboration.**

### Loading required libraries and packages

#### NOTE:
Import various libraries and modules used in data analysis, machine learning, and visualization tasks in Python such as `pandas`, `numpy`, `sklearn`, `sklearn.preprocessing`,`seaborn`,`matplotlib`.There are 2 ways to import the libraries and modules:
* import numpy as np
* from sklearn.model_selection import train_test_split

In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split

### Task 1: Load the dataset and perform preliminary EDA (Exploratory Data Analysis) with key observations and insights- (weightage - 15 marks)

#### NOTE:

Loading the dataset for model building is the initial step in the machine learning pipeline, where the relevant data is imported into the chosen programming environment or framework. This process typically involves reading the dataset from a file (e.g., CSV, Excel, JSON) or fetching it from a database. Once loaded, the dataset is often inspected to understand its structure, including the number of samples, features, and target variables. Furthermore, preprocessing steps such as cleaning, handling missing values, encoding categorical variables, and scaling may be performed on the dataset to prepare it for model training. Loading the dataset accurately and efficiently is crucial for building accurate and robust machine learning models that effectively capture the underlying patterns and relationships within the data.

- Do not use PRINT statement inside the Except Block. Please use `return` statement only

#### T1. Import following datasets      (Weightage- 3 marks)  (AE)
-    customer_and_bankdetails
-    customer_campaign_details
-    customer_response_data
-    customer_social_economic_data
-    customer_postal_code_details
-   state_master
-    region_code_master
-    city_master

In [2]:
import pandas as pd
def load_the_dataset_customer_and_bank_details():
    customer_and_bankdetails = None
    # Code starts here
    customer_and_bankdetails = pd.read_csv("Datasets/Customer_and_bank_details.csv")
    # code ends here
    return customer_and_bankdetails

In [3]:
#store the result of the dataset
customer_and_bankdetails=load_the_dataset_customer_and_bank_details()

print(customer_and_bankdetails)

       Customer_id  age          job  marital            education  default  \
0                1   56     services  married          high.school       no
1                2   45     services  married             basic.9y  unknown
2                3   59       admin.  married  professional.course       no
3                4   41  blue-collar  married              unknown  unknown
4                5   24   technician   single  professional.course       no
...            ...  ...          ...      ...                  ...      ...
37079        37080   73      retired  married  professional.course       no
37080        37081   46  blue-collar  married  professional.course       no
37081        37082   56      retired  married    university.degree       no
37082        37083   44   technician  married  professional.course       no
37083        37084   74      retired  married  professional.course       no

      housing loan Region_Code State_Code City_Code
0          no  yes           3         S1        C1
1          no   no           3         S1        C1
2          no   no           4         S2        C2
3          no   no           3         S3        C3
4         yes   no           3         S3        C3
...       ...  ...         ...        ...       ...
37079     yes   no           2        S16       C21
37080      no   no           2        S16       C21
37081     yes   no           2        S16       C21
37082      no   no           4        S17       C49
37083     yes   no           1         S6      C113

[37084 rows x 11 columns]

In [4]:
# to import Customer_campaign_details

def load_the_dataset_customer_campaign():
    Customer_campaign_details = None
    # Code starts here
    Customer_campaign_details = pd.read_csv("Datasets/Customer_campaign_details.csv")
    # code ends here
    return Customer_campaign_details

In [5]:
# store the result of the dataset
Customer_campaign_details=load_the_dataset_customer_campaign()
print(Customer_campaign_details)

       Customer_id    contact month day_of_week  duration  campaign  pdays  \
0                1  telephone   may         mon       307         1    999
1                2  telephone   may         mon       198         1    999
2                3  telephone   may         mon       139         1    999
3                4  telephone   may         mon       217         1    999
4                5  telephone   may         mon       380         1    999
...            ...        ...   ...         ...       ...       ...    ...
37079        37080   cellular   nov         fri       334         1    999
37080        37081   cellular   nov         fri       383         1    999
37081        37082   cellular   nov         fri       189         2    999
37082        37083   cellular   nov         fri       442         1    999
37083        37084   cellular   nov         fri       239         3    999

       previous     poutcome
0             0  nonexistent
1             0  nonexistent
2             0  nonexistent
3             0  nonexistent
4             0  nonexistent
...         ...          ...
37079         0  nonexistent
37080         0  nonexistent
37081         0  nonexistent
37082         0  nonexistent
37083         1      failure

[37084 rows x 9 columns]

In [6]:
# to import Customer_Response_data

def load_the_dataset_customer_response():
    Customer_Response_data = None
    # Code starts here
    Customer_Response_data = pd.read_csv("Datasets/Customer_Response_data.csv")
    # code ends here
    return Customer_Response_data

In [7]:
# store the result of the dataset
Customer_Response_data=load_the_dataset_customer_response()
print(Customer_Response_data)

       Customer_id    y
0                1   no
1                2   no
2                3   no
3                4   no
4                5   no
...            ...  ...
37079        37080  yes
37080        37081   no
37081        37082   no
37082        37083  yes
37083        37084   no

[37084 rows x 2 columns]

In [8]:
# to import Customer_social_economic_data

def load_the_dataset_customer_social_economic_data():
    Customer_social_economic_data = None
    # Code starts here
    Customer_social_economic_data = pd.read_csv("Datasets/Customer_social_economic_data.csv")
    # code ends here
    return Customer_social_economic_data

In [9]:
# store the result of the dataset
Customer_social_economic_data=load_the_dataset_customer_social_economic_data()
print(Customer_social_economic_data)

       Customer_id  emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  \
0                1           1.1          93.994          -36.4      4.857
1                2           1.1          93.994          -36.4      4.857
2                3           1.1          93.994          -36.4      4.857
3                4           1.1          93.994          -36.4      4.857
4                5           1.1          93.994          -36.4      4.857
...            ...           ...             ...            ...        ...
37079        37080          -1.1          94.767          -50.8      1.028
37080        37081          -1.1          94.767          -50.8      1.028
37081        37082          -1.1          94.767          -50.8      1.028
37082        37083          -1.1          94.767          -50.8      1.028
37083        37084          -1.1          94.767          -50.8      1.028

       nr.employed
0           5191.0
1           5191.0
2           5191.0
3           5191.0
4           5191.0
...            ...
37079       4963.6
37080       4963.6
37081       4963.6
37082       4963.6
37083       4963.6

[37084 rows x 6 columns]

In [10]:
#to import Customer_Postal_Code_details

def load_the_dataset_customer_postal_code():
    Customer_Postal_Code_details = None
    # Code starts here
    Customer_Postal_Code_details = pd.read_csv("Datasets/Customer_Postal_Code_details.csv")
    # code ends here
    return Customer_Postal_Code_details

In [11]:
# store the result of the dataset
Customer_Postal_Code_details=load_the_dataset_customer_postal_code()
print(Customer_Postal_Code_details)

       customer_id  Postal Code
0                1        42420
1                2        42420
2                3        90036
3                4        33311
4                5        33311
...            ...          ...
37079        37080        10009
37080        37081        10011
37081        37082        10009
37082        37083        85254
37083        37084        79109

[37084 rows x 2 columns]

In [12]:
#to import State_Master
def load_the_dataset_state_master():
    State_Master = None
    # Code starts here
    State_Master = pd.read_csv("Datasets/State_Master.csv")
    # code ends here
    return State_Master

In [13]:
# store the result of the dataset
State_Master=load_the_dataset_state_master()
print(State_Master)

   State_Code            State_Name  Region_Code
0          S1              Kentucky            3
1          S2            California            4
2          S3               Florida            3
3          S4        North Carolina            3
4          S5            Washington            4
5          S6                 Texas            1
6          S7             Wisconsin            1
7          S8                  Utah            4
8          S9              Nebraska            1
9         S10          Pennsylvania            2
10        S11              Illinois            1
11        S12             Minnesota            1
12        S13              Michigan            1
13        S14              Delaware            2
14        S15               Indiana            1
15        S16              New York            2
16        S17               Arizona            4
17        S18              Virginia            3
18        S19             Tennessee            3
19        S20               Alabama            3
20        S21        South Carolina            3
21        S22                Oregon            4
22        S23              Colorado            4
23        S24                  Iowa            1
24        S25                  Ohio            2
25        S26              Missouri            1
26        S27              Oklahoma            1
27        S28            New Mexico            4
28        S29             Louisiana            3
29        S30           Connecticut            2
30        S31            New Jersey            2
31        S32         Massachusetts            2
32        S33               Georgia            3
33        S34                Nevada            4
34        S35          Rhode Island            2
35        S36           Mississippi            3
36        S37              Arkansas            3
37        S38               Montana            4
38        S39         New Hampshire            2
39        S40              Maryland            2
40        S41  District of Columbia            2
41        S42                Kansas            1
42        S43               Vermont            2
43        S44                 Maine            2
44        S45          South Dakota            1
45        S46                 Idaho            4
46        S47          North Dakota            1
47        S48               Wyoming            4
48        S49         West Virginia            2

In [14]:
#to import Region_code_master
def load_the_dataset_region_code_master():
    Region_code_master = None
    # Code starts here
    Region_code_master = pd.read_csv("Datasets/Region_code_master.csv")
    # code ends here
    return Region_code_master

In [15]:
# store the result of the dataset
Region_code_master=load_the_dataset_region_code_master()
print(Region_code_master)

  Region_Name  Region_Code
0     Central            1
1        East            2
2       South            3
3        West            4
4       North            5

In [16]:
#to import City_Master
def load_the_dataset_city_master():
    City_Master = None
    # Code starts here
    City_Master = pd.read_csv("Datasets/City_Master.csv")
    # code ends here
    return City_Master

In [17]:
# store the result of the dataset
City_Master=load_the_dataset_city_master()
print(City_Master)

    City_Code        City_Name State_Code
0          C1        Henderson         S1
1          C2      Los Angeles         S2
2          C3  Fort Lauderdale         S3
3          C4          Concord         S4
4          C5          Seattle         S5
..        ...              ...        ...
526      C527     San Clemente         S2
527      C528  San Luis Obispo         S2
528      C529       Springdale        S37
529      C530             Lodi         S2
530      C531            Mason        S25

[531 rows x 3 columns]

#### change column name of dataframe

* change the column_names in the Dataframe from 'customer_id'to 'Customer_id' wherever necessary

In [18]:
def modname():
    Custom = None
    # Code starts here
    Customer_Postal_Code_details.rename(columns={"customer_id":"Customer_id"},inplace=True)
    # Code ends here
    return Custom

In [19]:
Custom=modname()
print(Customer_Postal_Code_details)

       Customer_id  Postal Code
0                1        42420
1                2        42420
2                3        90036
3                4        33311
4                5        33311
...            ...          ...
37079        37080        10009
37080        37081        10011
37081        37082        10009
37082        37083        85254
37083        37084        79109

[37084 rows x 2 columns]

#### T1.2. Create the updated dataframes by using relevant merging options and validate.  (Weightage-  8 marks) (AE)

#### NOTE:
- Design the functions, custom_merge1(df1, df2),custom_merge2(df1, df2),custom_merge3(df1, df2),custom_merge4(df1, df2),custom_merge5(df1, df2),custom_merge6(df1, df2),custom_merge7(df1, df2) to merges two DataFrames (df1 and df2) based on a common column using an inner join.
- Custom merge function
- Hint: Inner

In [20]:

def custom_merge1(df1,df2):
    merged_df = None
    # Code starts here
    merged_df = pd.merge(df1, df2, on="Customer_id", how="inner")
    # Code ends here
    return merged_df

In [21]:
# Call the custom function
result_df = custom_merge1(customer_and_bankdetails,Customer_campaign_details)
print(result_df)

       Customer_id  age          job  marital            education  default  \
0                1   56     services  married          high.school       no
1                2   45     services  married             basic.9y  unknown
2                3   59       admin.  married  professional.course       no
3                4   41  blue-collar  married              unknown  unknown
4                5   24   technician   single  professional.course       no
...            ...  ...          ...      ...                  ...      ...
37079        37080   73      retired  married  professional.course       no
37080        37081   46  blue-collar  married  professional.course       no
37081        37082   56      retired  married    university.degree       no
37082        37083   44   technician  married  professional.course       no
37083        37084   74      retired  married  professional.course       no

      housing loan Region_Code State_Code City_Code    contact month  \
0          no  yes           3         S1        C1  telephone   may
1          no   no           3         S1        C1  telephone   may
2          no   no           4         S2        C2  telephone   may
3          no   no           3         S3        C3  telephone   may
4         yes   no           3         S3        C3  telephone   may
...       ...  ...         ...        ...       ...        ...   ...
37079     yes   no           2        S16       C21   cellular   nov
37080      no   no           2        S16       C21   cellular   nov
37081     yes   no           2        S16       C21   cellular   nov
37082      no   no           4        S17       C49   cellular   nov
37083     yes   no           1         S6      C113   cellular   nov

      day_of_week  duration  campaign  pdays  previous     poutcome
0             mon       307         1    999         0  nonexistent
1             mon       198         1    999         0  nonexistent
2             mon       139         1    999         0  nonexistent
3             mon       217         1    999         0  nonexistent
4             mon       380         1    999         0  nonexistent
...           ...       ...       ...    ...       ...          ...
37079         fri       334         1    999         0  nonexistent
37080         fri       383         1    999         0  nonexistent
37081         fri       189         2    999         0  nonexistent
37082         fri       442         1    999         0  nonexistent
37083         fri       239         3    999         1      failure

[37084 rows x 19 columns]

In [22]:
# Second Dataframe: df2=df1 and customer_response_data
# Hint: Inner
# Validate rows and columns numbers = [37084 rows x 20 columns]
def custom_merge2(df1,df2):
    merged_df = None
    # Code starts here
    merged_df = pd.merge(df2, df1, on="Customer_id", how="inner")
    # Code ends here
    return merged_df

In [23]:
# Call the custom function
result_df1 = custom_merge2(result_df,Customer_Response_data)
print(result_df1)

       Customer_id    y  age          job  marital            education  \
0                1   no   56     services  married          high.school
1                2   no   45     services  married             basic.9y
2                3   no   59       admin.  married  professional.course
3                4   no   41  blue-collar  married              unknown
4                5   no   24   technician   single  professional.course
...            ...  ...  ...          ...      ...                  ...
37079        37080  yes   73      retired  married  professional.course
37080        37081   no   46  blue-collar  married  professional.course
37081        37082   no   56      retired  married    university.degree
37082        37083  yes   44   technician  married  professional.course
37083        37084   no   74      retired  married  professional.course

       default housing loan Region_Code State_Code City_Code    contact month  \
0           no      no  yes           3         S1        C1  telephone   may
1      unknown      no   no           3         S1        C1  telephone   may
2           no      no   no           4         S2        C2  telephone   may
3      unknown      no   no           3         S3        C3  telephone   may
4           no     yes   no           3         S3        C3  telephone   may
...        ...     ...  ...         ...        ...       ...        ...   ...
37079       no     yes   no           2        S16       C21   cellular   nov
37080       no      no   no           2        S16       C21   cellular   nov
37081       no     yes   no           2        S16       C21   cellular   nov
37082       no      no   no           4        S17       C49   cellular   nov
37083       no     yes   no           1         S6      C113   cellular   nov

      day_of_week  duration  campaign  pdays  previous     poutcome
0             mon       307         1    999         0  nonexistent
1             mon       198         1    999         0  nonexistent
2             mon       139         1    999         0  nonexistent
3             mon       217         1    999         0  nonexistent
4             mon       380         1    999         0  nonexistent
...           ...       ...       ...    ...       ...          ...
37079         fri       334         1    999         0  nonexistent
37080         fri       383         1    999         0  nonexistent
37081         fri       189         2    999         0  nonexistent
37082         fri       442         1    999         0  nonexistent
37083         fri       239         3    999         1      failure

[37084 rows x 20 columns]

In [24]:
#Third Dataframe: df3=df2 and customer_social_economic_data
# Validate rows and columns numbers = [37084 rows x 25 columns]
# Hint: Inner
def custom_merge3(df1,df2):
    merged_df = None
    # Code starts here
    merged_df = pd.merge(df1, df2, on="Customer_id", how="inner")
    # Code ends here
    return merged_df

In [25]:
# Call the custom function
result_df2 = custom_merge3(result_df1,Customer_social_economic_data)
print(result_df2)

       Customer_id    y  age          job  marital            education  \
0                1   no   56     services  married          high.school
1                2   no   45     services  married             basic.9y
2                3   no   59       admin.  married  professional.course
3                4   no   41  blue-collar  married              unknown
4                5   no   24   technician   single  professional.course
...            ...  ...  ...          ...      ...                  ...
37079        37080  yes   73      retired  married  professional.course
37080        37081   no   46  blue-collar  married  professional.course
37081        37082   no   56      retired  married    university.degree
37082        37083  yes   44   technician  married  professional.course
37083        37084   no   74      retired  married  professional.course

       default housing loan Region_Code  ... duration campaign pdays previous  \
0           no      no  yes           3  ...      307        1   999        0
1      unknown      no   no           3  ...      198        1   999        0
2           no      no   no           4  ...      139        1   999        0
3      unknown      no   no           3  ...      217        1   999        0
4           no     yes   no           3  ...      380        1   999        0
...        ...     ...  ...         ...  ...      ...      ...   ...      ...
37079       no     yes   no           2  ...      334        1   999        0
37080       no      no   no           2  ...      383        1   999        0
37081       no     yes   no           2  ...      189        2   999        0
37082       no      no   no           4  ...      442        1   999        0
37083       no     yes   no           1  ...      239        3   999        1

          poutcome  emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  \
0      nonexistent           1.1          93.994          -36.4      4.857
1      nonexistent           1.1          93.994          -36.4      4.857
2      nonexistent           1.1          93.994          -36.4      4.857
3      nonexistent           1.1          93.994          -36.4      4.857
4      nonexistent           1.1          93.994          -36.4      4.857
...            ...           ...             ...            ...        ...
37079  nonexistent          -1.1          94.767          -50.8      1.028
37080  nonexistent          -1.1          94.767          -50.8      1.028
37081  nonexistent          -1.1          94.767          -50.8      1.028
37082  nonexistent          -1.1          94.767          -50.8      1.028
37083      failure          -1.1          94.767          -50.8      1.028

      nr.employed
0          5191.0
1          5191.0
2          5191.0
3          5191.0
4          5191.0
...           ...
37079      4963.6
37080      4963.6
37081      4963.6
37082      4963.6
37083      4963.6

[37084 rows x 25 columns]

In [26]:
#Fourth Dataframe: df4= df3 and customer_postal_code_details
#Validate rows and columns numbers = [37084 rows x 26 columns]
#Hint: Inner

def custom_merge4(df1,df2):
    merged_df = None
    # Code starts here
    merged_df = pd.merge(df1, df2, on = "Customer_id", how = "inner")
    # Code ends here
    return merged_df

In [27]:
# Call the custom function
result_df3 = custom_merge4(result_df2,Customer_Postal_Code_details)
print(result_df3)

       Customer_id    y  age          job  marital            education  \
0                1   no   56     services  married          high.school
1                2   no   45     services  married             basic.9y
2                3   no   59       admin.  married  professional.course
3                4   no   41  blue-collar  married              unknown
4                5   no   24   technician   single  professional.course
...            ...  ...  ...          ...      ...                  ...
37079        37080  yes   73      retired  married  professional.course
37080        37081   no   46  blue-collar  married  professional.course
37081        37082   no   56      retired  married    university.degree
37082        37083  yes   44   technician  married  professional.course
37083        37084   no   74      retired  married  professional.course

       default housing loan Region_Code  ... campaign pdays previous  \
0           no      no  yes           3  ...        1   999        0
1      unknown      no   no           3  ...        1   999        0
2           no      no   no           4  ...        1   999        0
3      unknown      no   no           3  ...        1   999        0
4           no     yes   no           3  ...        1   999        0
...        ...     ...  ...         ...  ...      ...   ...      ...
37079       no     yes   no           2  ...        1   999        0
37080       no      no   no           2  ...        1   999        0
37081       no     yes   no           2  ...        2   999        0
37082       no      no   no           4  ...        1   999        0
37083       no     yes   no           1  ...        3   999        1

          poutcome emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  \
0      nonexistent          1.1          93.994          -36.4      4.857
1      nonexistent          1.1          93.994          -36.4      4.857
2      nonexistent          1.1          93.994          -36.4      4.857
3      nonexistent          1.1          93.994          -36.4      4.857
4      nonexistent          1.1          93.994          -36.4      4.857
...            ...          ...             ...            ...        ...
37079  nonexistent         -1.1          94.767          -50.8      1.028
37080  nonexistent         -1.1          94.767          -50.8      1.028
37081  nonexistent         -1.1          94.767          -50.8      1.028
37082  nonexistent         -1.1          94.767          -50.8      1.028
37083      failure         -1.1          94.767          -50.8      1.028

       nr.employed Postal Code
0           5191.0       42420
1           5191.0       42420
2           5191.0       90036
3           5191.0       33311
4           5191.0       33311
...            ...         ...
37079       4963.6       10009
37080       4963.6       10011
37081       4963.6       10009
37082       4963.6       85254
37083       4963.6       79109

[37084 rows x 26 columns]

In [28]:
#Fifth Dataframe: df5= state_master and region_code_master
#Validate rows and columns numbers = 49 rows and 4 columns
#Hint: Left
def custom_merge5(df1,df2):
    merged_df = None
    # Code starts here
    merged_df = pd.merge(df1, df2, on = "Region_Code", how = "left")
    # Code ends here
    return merged_df

In [29]:
# Call the custom function
result_df4 = custom_merge5(State_Master,Region_code_master)
print(result_df4)

   State_Code            State_Name  Region_Code Region_Name
0          S1              Kentucky            3       South
1          S2            California            4        West
2          S3               Florida            3       South
3          S4        North Carolina            3       South
4          S5            Washington            4        West
5          S6                 Texas            1     Central
6          S7             Wisconsin            1     Central
7          S8                  Utah            4        West
8          S9              Nebraska            1     Central
9         S10          Pennsylvania            2        East
10        S11              Illinois            1     Central
11        S12             Minnesota            1     Central
12        S13              Michigan            1     Central
13        S14              Delaware            2        East
14        S15               Indiana            1     Central
15        S16              New York            2        East
16        S17               Arizona            4        West
17        S18              Virginia            3       South
18        S19             Tennessee            3       South
19        S20               Alabama            3       South
20        S21        South Carolina            3       South
21        S22                Oregon            4        West
22        S23              Colorado            4        West
23        S24                  Iowa            1     Central
24        S25                  Ohio            2        East
25        S26              Missouri            1     Central
26        S27              Oklahoma            1     Central
27        S28            New Mexico            4        West
28        S29             Louisiana            3       South
29        S30           Connecticut            2        East
30        S31            New Jersey            2        East
31        S32         Massachusetts            2        East
32        S33               Georgia            3       South
33        S34                Nevada            4        West
34        S35          Rhode Island            2        East
35        S36           Mississippi            3       South
36        S37              Arkansas            3       South
37        S38               Montana            4        West
38        S39         New Hampshire            2        East
39        S40              Maryland            2        East
40        S41  District of Columbia            2        East
41        S42                Kansas            1     Central
42        S43               Vermont            2        East
43        S44                 Maine            2        East
44        S45          South Dakota            1     Central
45        S46                 Idaho            4        West
46        S47          North Dakota            1     Central
47        S48               Wyoming            4        West
48        S49         West Virginia            2        East

In [30]:

def custom_merge6(df1,df2):
    merged_df = None
    # Code starts here
    merged_df = pd.merge(df1, df2, on = "State_Code", how = "left")
    # Code ends here
    return merged_df

In [31]:
# Call the custom function
result_df5 = custom_merge6(City_Master,result_df4)
print(result_df5)

    City_Code        City_Name State_Code      State_Name  Region_Code  \
0          C1        Henderson         S1        Kentucky            3
1          C2      Los Angeles         S2      California            4
2          C3  Fort Lauderdale         S3         Florida            3
3          C4          Concord         S4  North Carolina            3
4          C5          Seattle         S5      Washington            4
..        ...              ...        ...             ...          ...
526      C527     San Clemente         S2      California            4
527      C528  San Luis Obispo         S2      California            4
528      C529       Springdale        S37        Arkansas            3
529      C530             Lodi         S2      California            4
530      C531            Mason        S25            Ohio            2

    Region_Name
0         South
1          West
2         South
3         South
4          West
..          ...
526        West
527        West
528       South
529        West
530        East

[531 rows x 6 columns]

In [32]:
def custom_merge7(df1,df2):
    merged_df = None
    # Code starts here
    merged_df = pd.merge(df1, df2, on = "City_Code", how = "inner")
    # Code ends here
    return merged_df

In [33]:
# Call the custom function
df = custom_merge7(result_df3,result_df5)
print(df)

       Customer_id   y  age          job   marital          education  \
0                1  no   56     services   married        high.school
1                2  no   45     services   married           basic.9y
2              539  no   32       admin.    single  university.degree
3              540  no   36     services   married        high.school
4              997  no   31  blue-collar   married           basic.9y
...            ...  ..  ...          ...       ...                ...
37079        19864  no   47       admin.  divorced  university.degree
37080        19865  no   58      retired   married           basic.4y
37081        29857  no   35       admin.   married        high.school
37082        29858  no   38   technician   married        high.school
37083        29859  no   50      unknown   married           basic.4y

       default housing loan Region_Code_x  ... cons.price.idx cons.conf.idx  \
0           no      no  yes             3  ...         93.994         -36.4
1      unknown      no   no             3  ...         93.994         -36.4
2           no      no   no             3  ...         93.994         -36.4
3           no      no   no             3  ...         93.994         -36.4
4           no      no   no             3  ...         93.994         -36.4
...        ...     ...  ...           ...  ...            ...           ...
37079       no      no   no             2  ...         93.444         -36.1
37080       no     yes   no             2  ...         93.444         -36.1
37081       no     yes   no             2  ...         92.893         -46.2
37082       no     yes   no             2  ...         92.893         -46.2
37083  unknown     yes   no             2  ...         92.893         -46.2

      euribor3m nr.employed Postal Code  City_Name  State_Code_y  State_Name  \
0         4.857      5191.0       42420  Henderson            S1    Kentucky
1         4.857      5191.0       42420  Henderson            S1    Kentucky
2         4.857      5191.0       42420  Henderson            S1    Kentucky
3         4.857      5191.0       42420  Henderson            S1    Kentucky
4         4.856      5191.0       42420  Henderson            S1    Kentucky
...         ...         ...         ...        ...           ...         ...
37079     4.964      5228.1       45040      Mason           S25        Ohio
37080     4.964      5228.1       45040      Mason           S25        Ohio
37081     1.291      5099.1       45040      Mason           S25        Ohio
37082     1.291      5099.1       45040      Mason           S25        Ohio
37083     1.291      5099.1       45040      Mason           S25        Ohio

       Region_Code_y Region_Name
0                  3       South
1                  3       South
2                  3       South
3                  3       South
4                  3       South
...              ...         ...
37079              2        East
37080              2        East
37081              2        East
37082              2        East
37083              2        East

[37084 rows x 31 columns]

#### Refer to the Github document from Lumen to create the repository and steps to commit 

#### Add your Github repository link below

In [34]:
https://github.com/talwargit/classification_ml_model

SyntaxError: invalid syntax (2288599001.py, line 1)

#### T1.3. Export the final data frame df to GitHub for versioning.  (Weightage-2 marks) ME

#### NOTE:

- Design a function `export_to_csv` export the DataFrame to a CSV file with the specified filename.

In [35]:
def export_to_csv(df, filename):

    """
    Exports a Pandas DataFrame to a CSV file.

    Args:
        df (pd.DataFrame): The DataFrame to export.
        filename (str): The desired filename for the CSV file.
    """
# Code starts here
    df.to_csv(filename, index = False)
# Code ends here

In [36]:
# Example usage:
my_dataframe = pd.DataFrame(df)  # Your actual DataFrame here
export_to_csv(my_dataframe, "my_data.csv")

#### T1.4. Reporting (Weightage- 2 marks each)  (ME)
1.	Customer contact mode made.
2.	Analysis on attempts made to turn a person into successful depositor.
3.	Data analysis on marital status, existing loans, education, profession etc. and its impact on the campaign’s success
4.	Socio-economic analysis of the customers

### Task 2: Load the dataset and perform preliminary EDA (Exploratory Data Analysis) with key observations and insights- (weightage - 35 marks)

#### T2.1 Import the data stored above from GITHUB using try and except blocks for modelling and create data frame “df” (weightage 2 marks) AE

In [110]:
def load_the_dataset_from_github():

    # Code starts here

    try:
        url = "https://github.com/talwargit/classification_ml_model/raw/main/my_data.csv"
        df = pd.read_csv(url)
        df = df.drop(df.columns[0], axis=1)
    except:
        df = None
    # Code ends here  
    return df

In [111]:
# store the result of the dataset
df=load_the_dataset_from_github()

/tmp/ipykernel_3687/633741066.py:7: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

#### T2.2	Drop the columns from the data frame df: 'Customer_id', 'Region_Code_y','Region_Code_x', 'State_Code_x',  "City_Code", ' State_Code_y',  'Postal Code', 'City_Name', 'State_Code_y', 'State_Name', 'Region_Code_y', 'Region_Name' . (weightage 2 marks) AE

#### NOTE:
- Design a Function `drop_var` to drop/remove specific columns from the Data frame
- Dropping columns from a DataFrame involves removing specific columns that are not required for analysis or modeling.
- This operation helps streamline the dataset and focus on relevant variables, reducing complexity and improving computational efficiency.
- Before dropping columns, it's essential to identify the columns to be removed based on their names or indices.

In [112]:
# dropping the given variables
def drop_var(df):
    x = None
    # Code starts here
    x = df.drop([ 'Customer_id', 'Region_Code_y','Region_Code_x', 'State_Code_x', 'City_Code', 'State_Code_y', 'Postal Code', 'City_Name', 'State_Code_y', 'State_Name', 'Region_Code_y', 'Region_Name'],axis=1)
    # Code ends here
    return x

In [113]:
df=drop_var(df)
print(df)

        y  age          job   marital          education  default housing  \
0      no   56     services   married        high.school       no      no
1      no   45     services   married           basic.9y  unknown      no
2      no   32       admin.    single  university.degree       no      no
3      no   36     services   married        high.school       no      no
4      no   31  blue-collar   married           basic.9y       no      no
...    ..  ...          ...       ...                ...      ...     ...
37079  no   47       admin.  divorced  university.degree       no      no
37080  no   58      retired   married           basic.4y       no     yes
37081  no   35       admin.   married        high.school       no     yes
37082  no   38   technician   married        high.school       no     yes
37083  no   50      unknown   married           basic.4y  unknown     yes

      loan    contact month  ... duration  campaign  pdays  previous  \
0      yes  telephone   may  ...      307         1    999         0
1       no  telephone   may  ...      198         1    999         0
2       no  telephone   may  ...      389         1    999         0
3       no  telephone   may  ...      158         1    999         0
4       no  telephone   may  ...      196         2    999         0
...    ...        ...   ...  ...      ...       ...    ...       ...
37079   no   cellular   aug  ...      381         3    999         0
37080   no   cellular   aug  ...       83         3    999         0
37081   no   cellular   may  ...       12         6    999         1
37082   no   cellular   may  ...      114         6    999         0
37083   no   cellular   may  ...       12         8    999         0

          poutcome emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  \
0      nonexistent          1.1          93.994          -36.4      4.857
1      nonexistent          1.1          93.994          -36.4      4.857
2      nonexistent          1.1          93.994          -36.4      4.857
3      nonexistent          1.1          93.994          -36.4      4.857
4      nonexistent          1.1          93.994          -36.4      4.856
...            ...          ...             ...            ...        ...
37079  nonexistent          1.4          93.444          -36.1      4.964
37080  nonexistent          1.4          93.444          -36.1      4.964
37081      failure         -1.8          92.893          -46.2      1.291
37082  nonexistent         -1.8          92.893          -46.2      1.291
37083  nonexistent         -1.8          92.893          -46.2      1.291

       nr.employed
0           5191.0
1           5191.0
2           5191.0
3           5191.0
4           5191.0
...            ...
37079       5228.1
37080       5228.1
37081       5099.1
37082       5099.1
37083       5099.1

[37084 rows x 21 columns]

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37084 entries, 0 to 37083
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   y               37084 non-null  object
 1   age             37084 non-null  int64
 2   job             37084 non-null  object
 3   marital         37084 non-null  object
 4   education       37084 non-null  object
 5   default         37084 non-null  object
 6   housing         37084 non-null  object
 7   loan            37084 non-null  object
 8   contact         37084 non-null  object
 9   month           37084 non-null  object
 10  day_of_week     37084 non-null  object
 11  duration        37084 non-null  int64
 12  campaign        37084 non-null  int64
 13  pdays           37084 non-null  int64
 14  previous        37084 non-null  int64
 15  poutcome        37084 non-null  object
 16  emp.var.rate    37084 non-null  float64
 17  cons.price.idx  37084 non-null  float64
 18  cons.conf.idx   37084 non-null  float64
 19  euribor3m       37084 non-null  float64
 20  nr.employed     37084 non-null  float64
dtypes: float64(5), int64(5), object(11)
memory usage: 5.9+ MB

#### T2.3	Change the order of columns as per data dictionary. (weightage 2 marks) AE

#### NOTE:
- Design a Function `reorder` to rearrange specific columns from the Data frame.
- A data dictionary provides metadata about the variables or attributes in a dataset, including their names, descriptions, data types, and order.
- It serves as a reference guide for understanding the structure and meaning of the data.
- Changing the order of columns in a DataFrame involves rearranging the columns to match the specified order in the data dictionary.
- This ensures consistency between the dataset's structure and the documented metadata.

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37084 entries, 0 to 37083
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   y               37084 non-null  object
 1   age             37084 non-null  int64
 2   job             37084 non-null  object
 3   marital         37084 non-null  object
 4   education       37084 non-null  object
 5   default         37084 non-null  object
 6   housing         37084 non-null  object
 7   loan            37084 non-null  object
 8   contact         37084 non-null  object
 9   month           37084 non-null  object
 10  day_of_week     37084 non-null  object
 11  duration        37084 non-null  int64
 12  campaign        37084 non-null  int64
 13  pdays           37084 non-null  int64
 14  previous        37084 non-null  int64
 15  poutcome        37084 non-null  object
 16  emp.var.rate    37084 non-null  float64
 17  cons.price.idx  37084 non-null  float64
 18  cons.conf.idx   37084 non-null  float64
 19  euribor3m       37084 non-null  float64
 20  nr.employed     37084 non-null  float64
dtypes: float64(5), int64(5), object(11)
memory usage: 5.9+ MB

In [116]:
def reorder(df):
   
   x = None
   # Code starts here
   x = df
   # Code ends here
   return x

In [117]:

df=reorder(df)
print(df)

        y  age          job   marital          education  default housing  \
0      no   56     services   married        high.school       no      no
1      no   45     services   married           basic.9y  unknown      no
2      no   32       admin.    single  university.degree       no      no
3      no   36     services   married        high.school       no      no
4      no   31  blue-collar   married           basic.9y       no      no
...    ..  ...          ...       ...                ...      ...     ...
37079  no   47       admin.  divorced  university.degree       no      no
37080  no   58      retired   married           basic.4y       no     yes
37081  no   35       admin.   married        high.school       no     yes
37082  no   38   technician   married        high.school       no     yes
37083  no   50      unknown   married           basic.4y  unknown     yes

      loan    contact month  ... duration  campaign  pdays  previous  \
0      yes  telephone   may  ...      307         1    999         0
1       no  telephone   may  ...      198         1    999         0
2       no  telephone   may  ...      389         1    999         0
3       no  telephone   may  ...      158         1    999         0
4       no  telephone   may  ...      196         2    999         0
...    ...        ...   ...  ...      ...       ...    ...       ...
37079   no   cellular   aug  ...      381         3    999         0
37080   no   cellular   aug  ...       83         3    999         0
37081   no   cellular   may  ...       12         6    999         1
37082   no   cellular   may  ...      114         6    999         0
37083   no   cellular   may  ...       12         8    999         0

          poutcome emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  \
0      nonexistent          1.1          93.994          -36.4      4.857
1      nonexistent          1.1          93.994          -36.4      4.857
2      nonexistent          1.1          93.994          -36.4      4.857
3      nonexistent          1.1          93.994          -36.4      4.857
4      nonexistent          1.1          93.994          -36.4      4.856
...            ...          ...             ...            ...        ...
37079  nonexistent          1.4          93.444          -36.1      4.964
37080  nonexistent          1.4          93.444          -36.1      4.964
37081      failure         -1.8          92.893          -46.2      1.291
37082  nonexistent         -1.8          92.893          -46.2      1.291
37083  nonexistent         -1.8          92.893          -46.2      1.291

       nr.employed
0           5191.0
1           5191.0
2           5191.0
3           5191.0
4           5191.0
...            ...
37079       5228.1
37080       5228.1
37081       5099.1
37082       5099.1
37083       5099.1

[37084 rows x 21 columns]

#### T2.4	Get the counts of values for the attribute target variable – ‘y’ (weightage 2 marks) AE

#### NOTE:
- Design a Function `get_y_counts` to get the counts of the most common values from the Data frame
- The target variable, often denoted as 'y', is the variable of interest in a predictive modeling task.
- It represents the outcome or response variable that the model aims to predict based on the input features.
- Getting the counts of values for the target variable provides insights into the distribution of outcomes or classes.
- It helps in understanding the balance or imbalance between different classes and assessing the prevalence of each class in the dataset.

In [118]:
# to get count of values for the variable y

def get_y_counts(df):
    y_value_counts = None
    # Code starts here
    y_value_counts = df['y'].value_counts()
    # Code ends here
    return y_value_counts

In [119]:
df1=get_y_counts(df)
print(df1)

no     32876
yes     4208
Name: y, dtype: int64

#### T2.5 Check missing values in the data in terms of percentage using error handling technique  and do missing value treatment. (weightage 2 marks) AE  


#### NOTE:
-  Get sum/ percentage of null values to find any missing values if present in data or not, for all the attributes in data frame ‘df’ 
- Missing values are data points that are absent or unavailable in the dataset, often represented as NaN (Not a Number) or null values.
- Detecting missing values is a critical step in data preprocessing to ensure data integrity and reliability.

In [120]:
def missing_value_check(data):
    missing_percentage = None
    # Code starts here
    missing_percentage = df.isnull().mean() * 100
    # Code ends here
    return  missing_percentage

In [121]:
missing_value_check(data=df)

y                 0.0
age               0.0
job               0.0
marital           0.0
education         0.0
default           0.0
housing           0.0
loan              0.0
contact           0.0
month             0.0
day_of_week       0.0
duration          0.0
campaign          0.0
pdays             0.0
previous          0.0
poutcome          0.0
emp.var.rate      0.0
cons.price.idx    0.0
cons.conf.idx     0.0
euribor3m         0.0
nr.employed       0.0
dtype: float64

df2=get_all_sum()
print(df2)

#df.info()
#df.head()

#df.isnull().sum()
#print(df.head())

#### NOTE:
- Design a Function `rows_columns` to get the number of rows and columns from the Data frame.
- The total number of rows and columns in a dataset provides information about its dimensionality.
- The number of rows represents the observations or samples in the dataset, while the number of columns represents the variables or features.

#### T2.6 Check total number of rows and columns in the dataset (Weightage 2 marks )AE

#### NOTE:
- Design a Function `rows_columns` to get the number of rows and columns from the Data frame.

In [122]:
def rows_columns(df): 
    x = None
    # Code starts here
    x = df.shape
    # Code ends here
    return(x)

In [123]:
RowsCols=rows_columns(df) 
print(RowsCols)

(37084, 21)

#### T2.7 Get the descriptive statistics for all the columns in the data frame. (weightage 2 marks) ME

#### NOTE:
- Descriptive statistics provide a summary of the key characteristics or properties of the data, helping to understand its distribution, central tendency, dispersion, and shape.
- Common descriptive statistics include measures of central tendency (mean, median, mode), measures of dispersion (standard deviation, variance, range), and measures of shape (skewness, kurtosis).

In [124]:
# code to get descriptive statistics for all numeric columns using describe function
df.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,37084.000000,37084.000000,37084.000000,37084.000000,37084.000000,37084.000000,37084.000000,37084.000000,37084.000000,37084.000000
mean,40.042714,258.237946,2.569545,962.530849,0.172986,0.082669,93.576076,-40.505183,3.621668,5167.058664
std,10.432965,258.730909,2.770611,186.773063,0.495681,1.568997,0.578493,4.622045,1.733972,72.196605
min,17.000000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.000000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.000000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.000000,319.250000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.000000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

#### T2.8	Change pday values if the value is 999 replace with ‘no’ else ‘yes’ (Weightage 2 marks )AE

- changing pdays()values 

#### NOTE:
- Design a Function `pcontacted` to replace pdays values if the value is '999' replace it with 'no' else replace it with a 'yes'
- Changing the values in the 'pday' column involves transforming the existing numerical values to categorical labels based on a specified condition.
- This transformation allows for a more intuitive interpretation of the data and facilitates subsequent analysis or visualization tasks.

In [131]:
def pcontacted(x):
    # Code starts here
    if x == 999:
        return "no"
    else:
        return "yes"
    # Code ends here
    
    return x

In [132]:
df['pdays'] = df['pdays'].apply(pcontacted)
# print(df['pdays'])
# print(pcontacted(x))

#### T2.9 Rename ‘pdays’ column name with ‘bcontacted’ and get value counts and find number of ‘yes’ and ‘no’. Perform binomial test for proportions on pdays and give inferences based on pvalues (weightage 2 marks) ME

#### NOTE: 

- Renaming the 'pdays' column to 'bcontacted' involves changing the name of the column to better reflect its meaning or purpose in the dataset.
- `'bcontacted'` suggests that the column represents whether a contact has been made (binary indicator), which may be more intuitive than 'pdays' (number of days since the client was last contacted).

In [134]:
df.rename(columns={'pdays':'bcontacted'}, inplace=True)
df['bcontacted'].value_counts()

no     35722
yes     1362
Name: bcontacted, dtype: int64

#### NOTE:

- Design a Function to determine whether the proportion of successes in a binary outcome variable ('pdays') is significantly different from a specified null hypothesis proportion.

In [ ]:
import numpy as np
from scipy.stats import binom_test
p_value = None
inference = None
# Assuming 'pdays' is a binary outcome variable with 1 for success and 0 for failure
# You would need to replace 'success_count' and 'total_trials' with your actual data
# success_count =  # Number of successes (e.g., number of '1's/ 'yes' in 'pdays')
# total_trials = # Total number of trials (e.g., total number of observations)

# Define the proportion you want to test against


# Perform the binomial test


# Determine significance based on the p-value



print("p-value:", p_value)
print("Inference:", inference)

In [ ]:
## Adding the Functions

from scipy.stats import binom_test

def binomial_test(success_count, total_trials, null_hypothesis_proportion, alpha=0.05):

    # Code starts here
    """
    Perform a binomial test to determine the significance of the observed proportion of successes.

    Parameters:
    - success_count (int): The number of successes.
    - total_trials (int): The total number of trials or observations.
    - null_hypothesis_proportion (float): The proportion specified in the null hypothesis.
    - alpha (float): The significance level (default is 0.05).

    Returns:
    - p_value (float): The p-value calculated from the binomial test.
    - inference (str): The inference conclusion based on the p-value and significance level.
    """
    # Perform the binomial test

    # Determine significance based on the p-value


        # Code ends here

    return p_value, inference

In [ ]:
# Example usage:
success_count = 120  # Number of successes (e.g., number of '1's/ 'yes' in 'pdays')
total_trials = 250  # Total number of trials (e.g., total number of observations)
null_hypothesis_proportion = 0.5  # Proportion specified in the null hypothesis
alpha = 0.05  # Significance level

p_value, inference = binomial_test(success_count, total_trials, null_hypothesis_proportion, alpha)
print("p-value:", p_value)
print("Inference:", inference)

#### T2.10	Use the below function/ create a function of your own and drop null values from  ('job'), ('marital'), ('education'), ('housing') (weightage 2 marks) AE

 #### NOTE:
- Design a Function `drop` to drop Null values from the Data Frame
- Dropping null values from specific columns is a common data cleaning task to handle missing or incomplete data.
- By removing rows with missing values in specific columns, we ensure that the data used for analysis or modeling is complete and reliable.

In [ ]:
# Drops nulls
import numpy as np

def drop(column,df):
    # Code starts here
    


    return df

    # Code ends here

In [ ]:
drop('job',df)
drop('marital',df)
drop('education',df)
drop('housing',df)

# df.info()

sns.countplot(data=df, x='y',palette='GnBu')
plt.show()

df['y'].value_counts()

#### T2.11	Perform data separation store all categorical variables in as ‘cat’ and All numeric variables in as ‘Numeric’ (weightage 2 marks) ME

#### NOTE:
- Data separation involves segregating different types of variables in a dataset based on their data types or characteristics.
- we aim to separate categorical variables, which represent qualitative attributes, from numeric variables, which represent quantitative attributes.
- Categorical variables are qualitative variables that represent categories or groups.
- Numeric variables are quantitative variables that represent numerical values.

In [ ]:
# Getting all catogorical variables

#### T2.12	Create countplot for all categorical variables (weightage 2 marks) ME

#### T2.12	Create countplot for all categorical variables (weightage 2 marks) ME
- Count plots are graphical representations that display the frequency or count of observations within different categories of a categorical variable.
- They provide a visual summary of the distribution of categorical data, making it easier to understand the relative frequencies of different categories.

In [ ]:

import seaborn as sns
import matplotlib.pyplot as plt

# Code starts here


# code ends here

#### T2.13	Change datatype for ‘month’ and ‘day_of_week’ as ‘str’ (weightage 2 marks) ME

- Numbers: to get number of numeric variables
- Changing the data type of columns to 'str' converts the numerical or categorical values in the columns to string format.
- This conversion is useful when treating these columns as categorical variables or when the values represent labels rather than numeric quantities.

In [ ]:
# Code starts here


# Code ends here

#### T2.14	Create histogram to know the Distribution of Attributes in the data frame df and check for normality (weightage 2 marks) ME

- Histograms are graphical representations of the distribution of numerical data.
- They provide a visual summary of the frequency or count of observations within different intervals, or "bins," of the data.

In [ ]:
# Code starts here

# Code ends here

#### T2.15	Get Descriptive Statistics for all numeric variables (weightage 2 marks) ME

- Hint: Using the code: np.log(df['campaign'] + 1) perform log transformation and create an histogram.

- To get descriptive statistics

#### T2.16	Drop variable duration from df (weightage 1 marks) ME

- drop duration Coloumn
- Dropping a variable can impact subsequent analysis, such as descriptive statistics, exploratory data analysis, or predictive modeling.
- Ensure that dropping the "duration" variable does not compromise the integrity or quality of the dataset.

#### T2.17	Create Visualizations for: Correlations and Scatter plot and find with relevant statistical function Pearson's coefficient, if there is correlation or not, based on p values (weightage 2 marks) ME
`Correlation Heatmap`:
- Use seaborn's heatmap function to create a correlation heatmap.
- The heatmap displays correlation coefficients between pairs of variables.

`Scatter Plot`:
- Use seaborn's scatterplot function to create scatter plots between pairs of variables.
- Scatter plots visualize the relationship between two continuous variables.

`Pearson's Correlation Coefficient`:
- Calculate Pearson's correlation coefficient (also known as Pearson's r) to quantify the strength and direction of the linear relationship between two continuous variables.
- Pearson's r ranges from -1 to 1, where:
    - 1 indicates a perfect positive linear relationship,
    - -1 indicates a perfect negative linear relationship, and 0 indicates no linear relationship.

#### T2.18	Perform Feature Engineering for all the features using get_dummies function except for target feature y  (weightage 2 marks) AE

#### NOTE:
- This function `dummy_function` should convert categorical variables into dummy variables using one-hot encoding, a common preprocessing technique in machine learning.
- It must take a DataFrame (data) containing categorical variables as input.

In [ ]:
# df_features = df.iloc[:,:-1]
#print(df_features)

def dummy_function(data):
    # df_features = df.iloc[:,:-1]
    df_features1 = None

    # Code starts here

    # Code ends here
    return df_features1

#display(df_features.head(5))

In [ ]:
df_features=dummy_function(df)

### Task 3: Build  model for predicting after splitting the dataset (weightage - 15 marks) 

#### NOTE:
- Split the dataset into X and y, with test_size=0.33 and random_state=42

#### T3.1	RandomForestClassifier(n_estimators=100, random_state=42), n_features_to_select=20) (weightage 5 marks) ME

- Save the code for model versioning

#### NOTE:
- Build a machine learning model for classification using random forest.
- Employ recursive feature elimination (RFE) for feature selection.
- The function should take input features X and target variable y.
- The function can iterate over a range of n_features, which specifies the number of features to select.

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

def select_features(X, y, test_size=0.2, n_features=[20]):
    features = None
    np.warnings.filterwarnings('ignore')

    # Code starts here


   # Code ends here
    
    return features

In [ ]:
select = select_features(X, y)

### Classification model
#### T3.2	Create KNN model using the following parameters, KNeighborsClassifier(n_neighbors=10) Save the code for model versioning (weightage 5 marks) ME

#### NOTE:
- Build a machine learning model for classification using KNeighbors.
- The function should take input features (df_features), target feature (target_feature), and a list of features to consider (features).
- The function can iterate over a range of n_features, which specifies the number of features to select.
- The function must create a KNN classifier with the specified number of neighbors and fits it to the training data.

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

def build_knn_model(df_features, target_feature, features):
    knn = None

    # Code starts here
   
    # Code ends here
    
    return knn  # Returning the trained model

In [ ]:
# Call the function to build the KNN model
knn_model = build_knn_model(df_features, df['y'], select)

#### T3.3	Create a Gradient boosting classifier model using the following parameters , GradientBoostingClassifier with options: n_estimators=100, random_state=42, max_depth=1. Save the code for model versioning (weightage 5 marks) ME

- Gradient Boosting

#### NOTE:
- Build a machine learning model for classification using Gradient Boosting.
- define a function `build_gbrt_model` that takes input features X, target variable y, and some optional parameters like random_state, n_estimators, max_depth, and test_size.

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split

def build_gbrt_model(X, y, random_state=42, n_estimators=100, max_depth=1, test_size=0.2):
    gbrt = None

    # Code starts here


    # Code ends here
    return gbrt

In [ ]:
gbrt=build_gbrt_model(X, y)

In [ ]:
gbrt

### Task 4: Evaluate the performance of the model using the right evaluation metrics.(weightage - 20 marks)

#### T4.1	Evaluate the above models by getting accuracy, Precision, Recall, F1 Score, Kappa Score	(weightage - 4 marks) AE

#### Random forest

#### NOTE:

-  Define a function which takes input as the test features (X_test), test labels (y_test), and the trained model (model).
- Predict labels for the test set and then calculate evaluation metrics such as accuracy, precision, recall, and Cohen's kappa.
**Range of results:** 

    -if accuracy +/-0.10  
    -if precision +/-0.10  
    -if recall +/-0.10  
    -if kappa +/-0.10  

    - all results are correct: 100%: 4 marks
    - otherwise score: 3 marks

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, cohen_kappa_score

def evaluate_model1(X_test, y_test, model):
    accuracy,precision,recall,kappa = 0.0,0.0,0.0,0.0




    # Code ends here
    
   
    return accuracy, precision, recall, kappa

# Example usage:
# accuracy, precision, recall, kappa = evaluate_model(X_test, y_test, your_model)  # Replace your_model with the trained model

In [ ]:
# call the function
accuracy=evaluate_model1(X_test, y_test,select)[0]
precision=evaluate_model1(X_test, y_test,select)[1]
recall=evaluate_model1(X_test, y_test,select)[2]
kappa=evaluate_model1(X_test, y_test,select)[3]

In [ ]:
print(accuracy)
print(precision)
print(recall)
print(kappa)

### Knn model

#### NOTE:

- Evaluate a saved k-nearest neighbors (KNN) model using various classification metrics.
- The Function should take a input the trained KNN model (knn_model), test features (X_test), and test labels (y_test).
- Then it must predict labels for the test set using the provided KNN model and calculates evaluation metrics such as accuracy, precision, recall, and Cohen's kappa.



**Range of results: 

-if accuracy +/-0.10  
-if precision +/-0.10  
-if recall +/-0.10  
-if kappa +/-0.10  

- all results are correct: 100%: 4 marks
- otherwise score: 3 marks

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, cohen_kappa_score

def evaluate_saved_knn_model(knn_model, X_test, y_test):
    accuracy, precision, recall, kappa = 0.0,0.0,0.0,0.0

    # Code starts here

    # Code ends here
    
    return accuracy, precision, recall, kappa

In [ ]:
# call the function
accuracy=evaluate_saved_knn_model(knn_model, X_test, y_test)[0]
precision=evaluate_saved_knn_model(knn_model, X_test, y_test)[1]
recall=evaluate_saved_knn_model(knn_model, X_test, y_test)[2]
kappa=evaluate_saved_knn_model(knn_model, X_test, y_test)[3]

In [ ]:
print(accuracy)
print(precision)
print(recall)
print(kappa)

### Gradient Boosting

#### NOTE:
- Define a Function that evaluates a Gradient Boosting Classifier model (gbrt) using various classification metrics.
- The function must calculate metrics such as accuracy, precision, recall, and Cohen's kappa, based on the predictions made by the model on the test set.



**Range of results: 

-if accuracy +/-0.10  
-if precision +/-0.10  
-if recall +/-0.10  
-if kappa +/-0.10  

- all results are correct: 100%: 4 marks
- otherwise score: 3 marks

In [ ]:
def evaluate_gbrt_model(gbrt, X_test, y_test):
    accuracy, precision, recall, kappa = 0.0,0.0,0.0,0.0

    # Code starts here


    # Code ends here
    
    return accuracy, precision, recall, kappa

In [ ]:
# call the function
accuracy=evaluate_gbrt_model(gbrt, X_test, y_test)[0]
precision=evaluate_gbrt_model(gbrt, X_test, y_test)[1]
recall=evaluate_gbrt_model(gbrt, X_test, y_test)[2]
kappa=evaluate_gbrt_model(gbrt, X_test, y_test)[3]

In [ ]:
print(accuracy)
print(precision)
print(recall)
print(kappa)

#### T.4.2 Perform Hyperparameter tuning. Re build the model with best suitable modelling technique (weightage 5 marks) ME

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier

# Define the parameter grid for hyperparameter tuning


# Create the Gradient Boosting Classifier model


# Perform Grid Search with 5-fold cross-validation


# Fit the Grid Search to find the best parameters

# Get the best parameters and best score


# Rebuild the model with the best parameters


# Print the best parameters and best score

#### T.4.3 Using Lime/SHAP libraries, explain the prediction of your classification model and give inferences.   (weightage 3 marks) ME

#### T4.4 Implement unit test case and deploy the above models using Flask/ Stream lit	(weightage - 8 marks) ME

### Task 5: Summarize the findings of the analysis and draw conclusions with PPT / PDF. (weightage - 15 marks) (ME)

##### Classification Model Conclusions

''' The Knn modelwith a test set score of 0.892 was obtained which is fairly good
    but the gradient models are more effective
    
    By using the reduced dataset and the complete dataset to build the model, 
    we obtained the same results (test score of 0.90). 
    the reduced dataset, thought, run a bit faster (0.82 vs 1.06)'''

**Final Submission guidelines:**
- Download the Jupyter notebook in the format of html. 
- Upload it in the lumen (UNext LMS)
- Take a screenshot of T4.4 (Deployment) and upload it in the lumen (UNext LMS)
- Summarized PPT/ PDF prepared in Task 5 to be uploaded in the lumen (UNext LMS)

-------------------------------------------------- **ASSESSMENT ENDS HERE** ---------------------------------------------------------